
* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
.conteiner {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}

div[id*='page'] {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#page-1 {
  background-image: url('bg1.jpeg');
}
#page-2 {
  background-image: url('bg2.png');
}
#page-3 {
  background-image: url('bg3.jpeg');
}
.text1 {
  
  position: fixed;
  bottom: 7em;
  padding: 50px 20%;
  
}
.image {
  grid-auto-columns: 1fr;
  
}

/*Next and preveous buttons */

.next,
.prev {
  display: none;
  z-index: 1;
  position: fixed;
  font-size: 50px;
  color: white;
  text-decoration: none;
  transition: text-shadow 0.15s linear;
  
}
.next {
  top: 50%;
  right: 15%;
  transform: translate(-50%, -50%);
}
.prev {
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}
/*#next-2 {
  top: 50%;
  left: 185%;
  transform: translate(-50%, -50%);
}
#prev-2 {
  top: 50%;
  left: 115%;
  transform: translate(-50%, -50%);
}
#next-3 {
  top: 50%;
  left: 285%;
  transform: translate(-50%, -50%);
}
#prev-3 {
  top: 50%;
  left: 215%;
  transform: translate(-50%, -50%);
}*/
.conteiner:hover :where(.next, .prev) {
  display: block;
}
#page-1:hover :where(#next-1, #prev-1) {
  display: block;
  z-index: 10;
}
#page-2:hover :where(#next-2, #prev-2) {
  display: block;
  z-index: 10;
}
#page-3:hover :where(#next-3, #prev-3) {
  display: block;
  z-index: 10;
}
:where(.next, .prev):hover {
  text-shadow: 2px 0px 2px white, -2px 0px 2px white;
}
.image {
  display: block;
}


/*
#next-1 {
  position: absolute;
  top: 50%;
  left: 85%;
  font-size: 60px;
  color: white;
  text-decoration: none;
}
#prev-1 {
  position: absolute;
  top: 50%;
  left: 15%;
  font-size: 60px;
  color: white;
  text-decoration: none;
}
#next-2 {
  position: absolute;
  top: 50%;
  left: 185%;
  font-size: 60px;
  color: white;
  text-decoration: none;
}
#prev-2 {
  position: absolute;
  top: 50%;
  left: 115%;
  font-size: 60px;
  color: white;
  text-decoration: none;
}
#next-3 {
  position: absolute;
  top: 50%;
  left: 285%;
  font-size: 60px;
  color: white;
  text-decoration: none;
}
#prev-3 {
  position: absolute;
  top: 50%;
  left: 215%;
  font-size: 60px;
  color: white;
  text-decoration: none;
}
.next, .prev {
  transition: transform 0.15s linear;
  transform: scale(1);
}
*/

.dots {
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 5em;
  transform: translateX(-50%);
}

.dot {
  height: 25px;
  width: 25px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  transition: background-color 0.15s linear;
}



.conteiner:has(.image:target) .dots > *:nth-child(1) {
  background-color: transparent;
}

.image:nth-child(1):target ~ .dots > *:nth-child(1) {
  background-color: rgb(255, 255, 255, 0.5);
}
.image:nth-child(2):target ~ .dots > *:nth-child(2) {
  background-color: rgb(255, 255, 255, 0.5);
}
.image:nth-child(3):target ~ .dots > *:nth-child(3) {
  background-color: rgb(255, 255, 255, 0.5);
}
.conteiner:has(.image:target) .dots > *:nth-child(1) {
  background-color: transparent;
}

.dot:hover {
  background-color: white;
}